body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0 px;
    padding: 20px;
    background-color: rgb(151, 180, 166);
}

* {
    box-sizing: border-box;
    /* tüm verilen padding margin değerlerinin belirtilen ölçüler içerisinde kalmasını sağladık. */
}

.all-div:after {
    content: '';
    display: table;
    clear: both;
    /* sağdan soldan her yerden verilen float ların birbirini etkilememesini sağladık. */
}

header {
    background-color: rgb(3, 37, 36);
}
.container .logo a {
    display: flex;
    margin: 0px auto;
    padding-bottom: 90px;
    padding-left: 80px;
    padding-top: 0px;
}

.container .logo h1 {
    display: flex;
    margin: 0px auto;
    justify-content: center;
}
/* Gonna Eat That neden ortaya gelmiyor? */
.logo .h1 h1{
    color: cornsilk;
    text-align: center;
    font-size: 60px;
    margin: 1px;
    padding-top: 60px;
}


.menu {
    height: 62px;
    width: 100%;
    background-color: rgb(68, 53, 5);
}

.fixed {
    position: fixed;
    top: 0px;
    right: 0px;
}

.menu li {
    float: left;
    list-style: none;
}

.menu li a {
    padding: 27px 17px;
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(213, 233, 180);

}

.menu li:hover a {
    background-color: rgb(36, 34, 22);
}

h2 {
    font-size: 30px;
    margin: 1.5 0px;
}

.left-column {
    float: left;
    width: 70%;

}

/* burada sol kolonu sola yapıştırdık ve sayfanın %70ni kaplamasını sağladık. */
.right-column {
    float: right;
    width: 30%;
    padding-left: 20px;
}

/* cardlara verilen paddinglerle eşit olması için right yani side bar kısmına da 20px padding verdim. */
/* burada sağ kolonu sağa yapıştırdık ve sayfanın %30unu kaplamasını sağladık. */
.card {
    padding: 20px;
    background-color: rgba(215, 216, 178, 0.966);
    margin-top: 20px;
}

/* body'e verilen 20 px paddingin içerisine 20 padding daha verdiğimiz için header kısmından daha içeride görünüyor. */
/* margin top 20 vererek tüm divlerin arasına mesafe koymuş olduk böylece her div ayrı görünüyor. */
#karışık {
    width: 100%;
}

#pizza {
    width: 32.3%;
}

#şarap {
    width: 32.3%;
}

#yemek {
    width: 32.3%;
    height: 212px;
}

#kahve {
    width: 48.8%;
}

#pankek {
    width: 48.8%;
    height: 385px;
}

#biz {
    width: 100%;
}

.right-column .card img {
    width: 52.5%;
    margin-bottom: 10px;

}

footer {
    background-color: rgb(78, 109, 109);
    text-align: center;
    padding: 20px;
    margin-top: 20px;

}

footer h2 {
    color: rgba(215, 216, 178, 0.966);

}

/* responsive tasarım olabilmesi için:  */
@media (max-width:760px) {
    .all-div {
        flex-direction: column;
    }
}