body {
    display: flex;
    /* itemlerın soldan sağa hizalanması sağlanır. */
    flex-direction: row;
    /* belirlenen alan dışarısına taşma yaşanırsa,taşanları saklar */
    overflow: hidden;
    /* bu yükseklik sıkıntı yaratabilir!!!!! */
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

.card1-left {
    margin-top: 65px;
}

/* bu class yok nerede? */
.credit {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #000;
}

.options {
    display: flex;
    /* yanyana eklendi hepsi */
    flex-direction: row;
    /* Kapsaycı kutu içindeki elemanları tüm kutuyu kapsayacak şekilde esnetir. */
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    /* sayfayı küçültmeye başladığımızda navbardaki butonun hizasında 100pxlik boşluk bırakır paddingmiş gibi */
    width: calc(100% - 100px);
    height: 400px;
}

.option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 3.5px;
    /* rootun bg defult rengini bg olarak getir ata aynı zamanda bg fotoğraflar geldi */
    background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
    /* bgi alana sığması */
    background-size: auto 100%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.option:nth-child(1) {
    --defaultBackground: #ed5565;
}

.option:nth-child(2) {
    --defaultBackground: #fc6e51;
    border-radius: 30px;
}

.option:nth-child(3) {
    --defaultBackground: #ffce54;
    border-radius: 30px;
}

.option:nth-child(4) {
    --defaultBackground: #2ecc71;
    border-radius: 30px;
}

.option:nth-child(5) {
    --defaultBackground: #5dd6ec;
    border-radius: 40px;
}

.option:nth-child(6) {
    --defaultBackground: #0b2344;
}

.option:nth-child(7) {
    --defaultBackground: #4e4881;
}

.option:nth-child(8) {
    --defaultBackground: #462263;
}

.option:nth-child(9) {
    --defaultBackground: #490a4b;
}

.option:nth-child(10) {
    --defaultBackground: #770233;
}

.option:nth-child(11) {
    --defaultBackground: #580416;
}

.option:nth-child(12) {
    --defaultBackground: #220404;
}

.option.active {

    flex-grow: 10000;
    /* Scale özelliği atandığı elementi vereceğimiz katsayı doğrultusunda uzatmaya ya da kısaltmaya yarayan özelliğimizdir ilk atama width 1katına çarpılır */
    transform: scale(1);
    max-width: 1000px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;
}

.option.active .shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

.option.active .label {
    bottom: 20px;
    left: 20px;
}

.option.active .info>div {
    left: 0px;
    opacity: 1;
}

.menü {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-bottom: 20px;
}

#logo {
    padding-left: 20px;
}

.btn-group {
    padding-right: 20px;
}

.btn-group a {
    text-decoration: none;
    color: rgb(247, 242, 242);
    color: black;
}